body {
    background: #1b1b1b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, span {
    color: white;
}

.container {
    display: grid;
    gap: 1rem;
}

.wrapper {
    display: grid;
    flex-wrap: wrap;
    width: fit-content;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .block {
        font-size: 3rem!important;
    }  
}
@media (min-width: 768px) {
    .block {
        width: 100px;
    }  
}

.block {
    background-color: #686868;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-size: 4rem;
}

.block:hover {
    background-color: rgba(128, 128, 128, 0.171);
}

.block.clicked {
    background-color: #4286f43d;
    color: initial;
    transform: rotateY(0);
    box-shadow: 0px 0px 1px 1px #4285f4;
}

.block.found {
    background-color: rgba(26, 219, 106, 0.438);
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    box-shadow: 0px 0px 1px 1px rgb(4, 199, 85);
}

.block.compare {
    pointer-events: none;
}

.pairs {
    display: flex;
    gap: 10px;
    width: 100%;
}
.pairs > div {
    background-color: rgba(223, 223, 223, 0.397);
    border-radius: 0.6rem;
    overflow: hidden;
}
.pairs-total-clic {
    padding: 1rem;
    display: grid;
    gap: 10px;
}
.pairs-total-clic > div {
    margin-top: 0.4rem;
    display: grid;
    gap: 10px;
}

.pairs-txt {
    display: grid;
    padding: 1rem;
    gap: 10px;
}

.fillTxt {
    font-size: 22px;
}

.flex > small {
    color: rgba(0, 0, 0, 0.295);
    font-size: 22px;
}

#pairsFound {
    background-color: rgba(223, 223, 223, 0.397);
}

#pairsFound > div {
    height: 0.5rem;
    width: 0%;
    background-color: #5d8df5;
    transition: 0.2s ease;
    border-radius: 1rem;
}

.replay {
    background-color: #4285f4;
    padding: 1rem;
    border: 0;
    color: white;
    border-radius: 0.4rem;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.replay:hover {
    background-color: rgb(39, 97, 204);

}



#bar {
    height: 0.8rem;
    width: 8rem;
    background-color: black;
    position: absolute;
    bottom: 0;
}


.O {
    position: absolute;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    background-color: blue;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}